<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <% for (let tab of artistTabs) { %>
        <h1>Browse all <%= tab.artist %> tabs</h1>
        <a href="/tabs/artists"> < Back to all artists</a>
        <ul>
            <br>
                <a href="/tabs/<%= tab.id %>">
                    <li><%= tab.name %></li>
                </a>
                <br>
        </ul>
        <% } %>
        <a href="/tabs/artists"> < Back to all artists</a>
    </div>
    <%- include('../partials/scroll-up') -%>
<%- include('../partials/footer') -%>