<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container artist-index">
        <h1>Browse tabs by artist name</h1>
        <a href="/tabs">Browse tabs by song name</a>
        <ul>
            <% for (musician of musicians) { %>
                <li><%= musician.name %></li>
            <% } %>
        </ul>
        <!-- <h1>A - C</h1>
            <ul>
                <li>AC/DC</li>
                <li>Alabama Shakes</li>
                <li>Alice In Chains</li>
                <li>Black Sabbath</li>
                <li>Bob Marley</li>
            </ul>
        <h1>D - F</h1>
            <ul>
                <li>Deer Tick</li>
                <li>Def Leppard</li>
                <li>Diamondhead</li>
                <li>Flaming Lips</li>
                <li>Fleetwood Mac</li>
                <li>Foo Fighters</li>
            </ul>
        <h1>G - I</h1>
            <ul>
                <li>Ghost</li>
                <li>Green Day</li>
                <li>Green Lung</li>
                <li>Guns 'N' Roses</li>
                <li>Heartless Bastards</li>
            </ul>
        <h1>J - L</h1>
            <ul>
                <li>Jackson Browne</li>
                <li><a href="/artists/:artistId">John Hiatt</a></li>
                <li>Johnny Cash</li>
                <li>Jimi Hendrix</li>
                <li>Laura Jane Grace</li>
                <li>Led Zeppelin</li>
            </ul>
        <h1>M - O</h1>
            <ul>
                <li>Metallica</li>
                <li>Muddy Waters</li>
                <li>Nine Inch Nails</li>
                <li>Orville Peck</li>
                <li>Ozzy Osbourne</li>
            </ul>
        <h1>P - S</h1>
            <ul>
                <li>Paramore</li>
                <li>Paul Gilbert</li>
                <li>Pixies</li>
                <li>Stone Temple Pilots</li>
            </ul>
        <h1>T - V</h1>
            <ul>
                <li>Taylor Swift</li>
                <li>The Beatles</li>
                <li>The Who</li>
                <li>Townes Van Zandt</li>
            </ul>
        <h1>W - Z</h1>
            <ul>
                <li>Waylon Jennings</li>
                <li>Willie Nelson</li>
                <li>Yola</li>
                <li>Yo La Tengo</li>
            </ul>
        </ul> -->
        <br>
        <a href="/tabs">Browse tabs by song name</a>
    </div>
    <%- include('../partials/scroll-up') -%>
<%- include('../partials/footer') -%>