<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container artist-index">
        <h1>Browse tabs by artist name</h1>
        <a href="/tabs">Browse tabs by song name</a>
        <ul>
            <br>
            <% for (let musician of musicians) { %>
                <a href="/artists/<%= musician.id %>">
                    <li><%= musician.name %></li>
                </a>
                <br>
            <% } %>
        </ul>
        <br>
        <a href="/tabs">Browse tabs by song name</a>
    </div>
    <%- include('../partials/scroll-up') -%>
<%- include('../partials/footer') -%>