<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <h1>Browse tabs by song name</h1>
        <a href="/tabs/artists">Browse tabs by artist name</a>
        <ul>
            <br>
            <% for (let tab of tabs) { %>
                <a href="/tabs/<%= tab.id %>">
                    <li><%= tab.name %></li>
                </a>
                <br>
            <% } %>
        </ul>
    <br>
    <a href="/tabs/artists">Browse tabs by artist name</a>
    </div>
    <%- include('../partials/scroll-up') -%>
<%- include('../partials/footer') -%>