<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <article class="about">
            <h1><%= tab.name %> (<%= tab.artist %>)</h1>
            <object class="tab-display" data="/pdf/<%= tab.file %>" type="application/pdf"></object>
            <br>
            <h2>Video Lesson:</h2>
            <iframe class="video-lesson" src="<%= tab.videoLink %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
    </div>
    <div class="scroll-up-container">
        <div class="scroll-up" onclick="scrollUp()">
            Back to top
        </div>
    </div>
<%- include('../partials/footer') -%>